<!-- app/views/recipes/_form.html.erb -->
<div class="container mt-4">
  <%= form_with(model: recipe) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :directions, "Directions", class: "form-label" %>
      <%= form.text_area :directions, class: "form-control", required: true %>
    </div>

    <h3>Ingredients</h3>
    <div id="ingredients">
      <%= form.fields_for :ingredients do |f| %>
        <div class="ingredient-fields mb-3">
          <%= f.text_field :name, class: "form-control", placeholder: "Ingredient", required: true %>
          <%= link_to "Remove", '#', class: "remove_ingredient ms-2 btn btn-outline-danger btn-sm" %>
          <%= f.hidden_field :_destroy %>
        </div>
      <% end %>
    </div>

    <%= link_to "Add Ingredient", "#", id: "add_ingredient", class: "btn btn-primary mt-3" %>

    <div class="d-grid mt-4">
      <%= form.submit "Save Recipe", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>

<!-- Ingredient Template (Hidden) -->
<template id="ingredient_template">
  <div class="ingredient-fields mb-3">
    <input type="text" name="recipe[ingredients_attributes][NEW_RECORD][name]" class="form-control" placeholder="Ingredient">
    <a href="#" class="remove_ingredient ms-2 btn btn-outline-danger btn-sm">Remove</a>
    <input type="hidden" name="recipe[ingredients_attributes][NEW_RECORD][_destroy]" value="false">
  </div>
</template>
