<div class="flex">
  <!-- Sidebar -->
  <div id="search-container" class="hidden sm:block sticky top-0 h-screen w-80 bg-white shadow-lg border-r border-gray-200 p-4 lg:p-6"> 
    <!-- Search Form -->
    <%= form_with url: search_recipes_path, method: :get, class: "search-form", id: "recipe-search-form", data: { turbo_frame: "search_results" } do %>
      <!-- Search Query -->
      <%= text_field_tag :query, params[:query], placeholder: "Search recipes...", class: "search-input w-full border border-gray-300 rounded p-2 focus:ring focus:ring-cookblue-200 focus:outline-none" %>

      <% if params[:tags].present? %>
        <% params[:tags].each do |tag| %>
          <%= hidden_field_tag 'tags[]', tag %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Tags -->
    <div id="tag-container" class="mt-4">
      <% if params[:tags].present? %>
        <p>
        <%= link_to "Clear All Tags", recipes_path %>
        </p>
      <% end %>
      <div class="flex flex-wrap gap-2 mt-2">
        <h2 class="text-lg font-semibold text-gray-700">Tags</h2>
        <% current_user.recipes.tag_counts_on(:tags).each do |tag| %>
          <span class="<%= tag_color(tag.name) %> text-sm font-medium px-3 py-1 rounded">
            <% if params[:tags]&.include?(tag.name) %>
              <!-- Remove tag from filter -->
              <%= link_to "(X) #{tag.name}", search_recipes_path(query: params[:query], tags: params[:tags] - [tag.name]) %>
            <% else %>
              <!-- Add tag to filter -->
              <%= link_to tag.name, search_recipes_path(query: params[:query], tags: (params[:tags] || []) + [tag.name]) %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="flex-grow p-4 lg:p-6">
    <!-- New Recipe Button -->
    <div class="flex sm:hidden justify-end mb-4">
      <% if params[:tags].present? %>
        <p>
        <%= link_to "Clear All Tags", recipes_path %> 
        </p>
      <% end %>
    </div>
    <div class="flex justify-end mb-4">
      <%= link_to 'New Recipe', new_recipe_path, class: 'bg-cookblue-100 hover:bg-cookblue-200 text-white font-bold py-2 px-4 mx-4 rounded' %>
      <%= link_to 'New Recipe Book', new_recipe_book_path, class: 'bg-cookblue-100 hover:bg-cookblue-200 text-white font-bold py-2 px-4 mx-4 rounded' %>
    </div>

    <!-- Recipe Content -->
    <div>
      <%= turbo_frame_tag "search_results" do %>
        <%= render partial: 'recipe_list' %>
      <% end %>
    </div>
  </div>
</div>
