<div id="search-container">
  <%= form_with url: search_recipes_path, method: :get, class: "search-form", id: "recipe-search-form", data: { turbo_frame: "search_results" } do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search recipes...", class: "search-input" %>
    <%= link_to 'Clear Search', root_path, class: 'text-gray-800 hover:text-gray-600 ml-4' %>
  <% end %>
</div>

<div class="flex justify-end mb-4">
  <%= link_to 'New Recipe', new_recipe_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4' %>
</div>

<%= turbo_frame_tag "search_results" do %>
  <%= render partial: 'recipe_list' %>
<% end %>
