  <div class="flex justify-end mb-4">
    <%= link_to 'New Recipe', new_recipe_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4' %>
  </div>

<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5  gap-4">

<% if logged_in? %>
    <% @recipes.each do |recipe| %>
    <div class="rounded overflow-hidden shadow-lg flex flex-col mb-4">
       <%= link_to recipe_path(recipe) do %>
         <% if recipe.image.representable? %>
        <%= image_tag recipe.processed_image_variants[:medium], :class => "rounded-lg" %>
         <%= link_to recipe.name, recipe_path(recipe), class: 'text-center hover:underline mt-2' %>
         <% else %>
         <%= link_to image_tag('recipe_icon.png'), root_path, :class => "rounded-lg" %>
        <%= link_to recipe.name, recipe_path(recipe), class: 'text-center hover:underline mt-2' %>
          <% end %>
    </div>
       <% end %>
      <% end %>
<% else %>
  <li class="bg-white p-4 rounded-lg shadow">
    <p class="text-gray-700">No recipes found</p>
  </li>
<% end %>

    </div>
  </div>
