<%= turbo_stream.replace "mobile_scaled_ingredients" do %>
  <div id="mobile_scaled_ingredients" class="mb-6">
    <h3 class="text-3xl text-gray-700 font-semibold mb-4 text-center">Ingredients</h3>
    <ul class="list-none">
      <% @scaled_ingredients.each_with_index do |ingredient, index| %>
        <li 
          class="text-gray-800 py-2 px-4 font-semibold text-sm 
          <%= index.even? ? 'bg-cookblue-50' : 'bg-gray-50' %>
          hover:bg-cookblue-100 hover:bg-opacity-50 transition-colors"
        >
          <span class="text-gray-600 text-md font-bold">
            <%= format_quantity(ingredient[:scaled_quantity]) %>
          </span>
          <%= ingredient[:name] %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= turbo_stream.replace "desktop_scaled_ingredients" do %>
  <div id="desktop_scaled_ingredients" class="mb-4">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Ingredients</h3>
    <ul class="rounded-lg overflow-hidden border border-gray-200">
      <% @scaled_ingredients.each_with_index do |ingredient, index| %>
        <li 
          class="text-gray-800 py-3 px-4 text-sm 
                 <%= index.even? ? 'bg-cookblue-50' : 'bg-white' %> 
                 hover:bg-cookblue-100 hover:bg-opacity-50 transition-colors"
        >
          <span class="text-gray-600 text-md font-bold">
            <%= format_quantity(ingredient[:scaled_quantity]) %>
          </span>
          <%= ingredient[:name] %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

