<div class="max-w-4xl mx-auto mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
<% if @recipe.image.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @recipe.image %>
  </p>
<% end %>
  <h2 class="text-3xl font-bold mb-4"><%= @recipe.name %></h2>
<div class="relative mb-6">
<label for="scale-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Multiply your recipe</label>
<input id="scale_range" type="range"  min="0.5" max="5" value="1" step="0.5" data-remote="true" data-url="<%= scale_recipe_path(@recipe) %>" data-method="post" class="w-full h-3 bg-gray-200 rounded-lg cursor-pointer range-lg dark:bg-gray-700"  oninput="updateScale(this.value)">
  <div class="flex justify-between mt-2 text-xs text-gray-600">
    <span class="w-8 text-left">0.5</span>
    <span class="w-8 text-center">1x</span>
    <span class="w-8 text-center">1.5x</span>
    <span class="w-8 text-center">2x</span>
    <span class="w-8 text-center">2.5x</span>
    <span class="w-8 text-center">3x</span>
    <span class="w-8 text-center">3.5x</span>
    <span class="w-8 text-right">4x</span>
    <span class="w-8 text-right">4.5x</span>
    <span class="w-8 text-right">5x</span>
  </div>
   <div id="scale_value" class="text-gray-700 text-sm font-bold mt-2">1.0x</div>
</div>

<p>
  <strong>Tags:</strong>
  <%= @recipe.tag_list.join(", ") %>
</p>

<%= turbo_frame_tag "scaled_ingredients" do %>
  <div class="mb-4">
    <h3 class="text-xl font-bold mb-2">Ingredients</h3>
    <ul class="list-disc list-inside">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="text-gray-700"><%= number_with_precision(ingredient[:scaled_quantity], precision: 2) %> <%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="mb-4">
    <h3 class="text-xl font-bold mb-2">Directions</h3>
    <ol class="list-decimal list-inside">
  <% @recipe.directions.split("\n").each do |step| %>
    <li> <%= step.strip %></li><br>
  <% end %>
    </ol>
  </div>

  <div class="mb-4">
 <h3 class="text-xl font-bold mb-2">URL</h3>
 <p>
 <%= @recipe.url %>
 </p>
  </div>

  <div class="flex justify-between mt-6">
    <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to 'Back', recipes_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
<%= link_to 'Delete', recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this recipe? Deleting a recipe cannot be undone.' }, method: :delete, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>

<script>
  function updateScale(scaleFactor) {
    const recipeId = <%= @recipe.id %>;
    fetch(`/recipes/${recipeId}/scale?scale_factor=${scaleFactor}`, {
      headers: { 'Accept': 'text/vnd.turbo-stream.html' }
    })
    .then(response => response.text())
    .then(html => Turbo.renderStreamMessage(html));
  }
</script>
