<!DOCTYPE html>
<html>
<head>
  <title>Cibum</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to 'My Recipes', recipes_path %></li>
        <li><%= link_to 'New Recipe', new_recipe_path %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
<% else %>
        <li><%= link_to 'Sign Up', new_user_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </nav>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <div class="main-content">
    <%= yield %>
  </div>

</body>
</html>

